@page
@model PROJEKAT_MONGODB.Pages.BookingFormModel
@{
}

<!-- //covers -->
<!---728x90--->

<section class="w3l-donate">
    <div class="form-content">


        <div class="donate-form section-gap py-5">
            <div class="container py-md-3">
                <div class="heading text-center mx-auto">
                    <h3 class="head">Rezervisi</h3>
                    <p class="my-3 head">
                        Unesite informacije o Vama da biste rezervisali mesto na kruzeru:
                        <bold>@Model.Kruzer.Naziv </bold>
                        <br>
                        
                        <bold>Mesta kroz koje prolazi: @foreach (var grad1 in Model.Kruzer.Gradovi) {@grad1.Naziv <bold> </bold>} </bold>
                      <br >
                        Od
                        <bold>@Model.ponuda.Pocetak.ToShortDateString()</bold>
                        Do
                        <bold>@Model.ponuda.Kraj.ToShortDateString()</bold>
                        Za samo
                        <bold>@Model.ponuda.Cena </bold>&#8364
                    </p>
                </div>
                <form method="post" class="signin-form donate-form mt-5 pt-3">

                    <input type="hidden" asp-for="@Model.ponudaId">
                    <input type="hidden" asp-for="@Model.KruzerId">
                    <div class="form-one">
                        <div class="form-input">
                            <label>Ime:</label>
                            <input type="text" asp-for="@Model.ime" placeholder="Unesite Vase ime.." required />
                        </div>
                        <div class="form-input">
                            <label>Prezime:</label>
                            <input type="text" asp-for="@Model.Prezime" placeholder="Unesite Vase prezime.." required>
                        </div>
                        <div class="form-input">
                            <label>Broj pasosa:</label>
                            <input type="number" id="passport" asp-for="@Model.brojPasosa" placeholder="Unesite Vas broj pasosa.." required />
                        </div>
                        <div class="form-input">
                            <label>Kontakt Telefon:</label>
                            <input type="text" asp-for="@Model.brTelefona" placeholder="Broj telefona.." required />
                        </div>

                        <div class="form-input">
                            <label> Broj kreveta</label>
                            <select asp-for="brojMesta" asp-items="@Model.kapacitet">
                                <option value="">Odaberite kabine</option>
                            </select>
                        </div>


                    </div>

                    <button class="btn button-eff" style=" background-color: dodgerblue;">Kliknite da rezervisite</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>

</script>