@page
@model PROJEKAT_MONGODB.Pages.KruzerSingleModel
@{
}
<head>
    <title>eTourist | @Model.kruzer.Naziv</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css">
</head>


<section class="w3l-content-with-photo-11">
    <div class="contentwithphoto-11 py-5">
        <div class="container py-md-3">
            <div class="row">

                <div class="contentwithphoto-11-content col-lg-8" style="width:100%;">
                    <div style="display:flex; flex-direction:row;">
                        <h3 class="ime">@Model.kruzer.Naziv</h3>
                        @for (int i = 0; i < @Model.kruzer.BrojZvezdica; i++)
                        {
                            <span class="fa fa-star checked" style="color:orange; margin-left:5px; margin-top:15px;"></span>
                        }
                    </div>
                    <div class="column contentwithphoto-img" style="width:75%;">
                        <div class="galleryContainer">
                            <div class="gallery">
                                <input type="radio" name="controls" id="c1" checked><img class="galleryImage" id="i1" src="@Model.kruzer.GlavnaSlika" class="img-responsive" alt="">
                                <input type="radio" name="controls" id="c2"><img class="galleryImage" id="i2" src="@Model.kruzer.Slika1" class="img-responsive" alt="">
                                <input type="radio" name="controls" id="c3"><img class="galleryImage" id="i3" src="@Model.kruzer.Slika2" class="img-responsive" alt="">
                                <input type="radio" name="controls" id="c4"><img class="galleryImage" id="i4" src="@Model.kruzer.Slika3" class="img-responsive" alt="">
                            </div>
                            <div class="thumbnails">
                                <label class="thumbnailImage" for="c1"><img src="@Model.kruzer.GlavnaSlika" class="img-responsive" alt=""></label>
                                <label class="thumbnailImage" for="c2"><img src="@Model.kruzer.Slika1" class="img-responsive" alt=""></label>
                                <label class="thumbnailImage" for="c3"><img src="@Model.kruzer.Slika2" class="img-responsive" alt=""></label>
                                <label class="thumbnailImage" for="c4"><img src="@Model.kruzer.Slika3" class="img-responsive" alt=""></label>
                            </div>
                        </div>
                    </div>

                    <div class="contentwithphoto-top">
                        <div class="column contentwithphoto-text mt-4">
                            <h3>Opis kruzera</h3>
                            <p>@Model.kruzer.Opis</p>
                        </div>
                    </div>
                    <div class="contentwithphoto-top">
                        <div class="column contentwithphoto-text mt-4">
                            <h3>Gradovi kroz koje prolazi: </h3>
                            @foreach(var grad in Model.kruzer.Gradovi)
            {
                <h3>@grad.Naziv</h3>
            }

                        </div>
                    </div>
                    <div class="contentwithphoto-top">
                        <div class="column contentwithphoto-text mt-4">
                            <h3>Drzave kroz koje prolazi:</h3>
                            @foreach (var drzava in Model.kruzer.Drzave)
                            {
                                <h3>@drzava.Naziv</h3>
                            }

                        </div>
                    </div>

                    <div class="work">
                        <div class="column con-bottom  mt-5">
                            <div class="con-bottom-left">
                                <h4>Detalji</h4>
                                <ul class="mt-4">
                                    <li><span class="title-text">Broj Kabina : </span> <span class="feature-count">@Model.kabine.Count</span></li>
                                    <li><span class="title-text">Besplatan Internet : </span> <span class="feature-count">DA</span></li>
                                    <li><span class="title-text">Kontakt Telefon : </span> <span class="feature-count">@Model.kruzer.KontaktTelefon</span></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                   

                    <div class="contentwithphoto-top" style="width:100%;">
                        <div class="column contentwithphoto-text mt-4" style="width:100%;">
                            <h3>Ponude</h3>
                            <table id="offers">
                                <thead>
                                <th>Pocetak putovanja/ponude</th>
                                <th>Kraj putovanja/ponude</th>
                                <th>Cena</th>
                                <th></th>
                                </thead>
                                <tbody>
                                    @foreach (var a in @Model.ponude)
                                    {
                                        <tr>
                                            <td>@a.Pocetak.ToString("dd.MM.yyyy.")</td>
                                            <td>@a.Kraj.ToString("dd.MM.yyyy.")</td>
                                            <td>@a.Cena €</td>
                                            <td style="text-align: center;"><button class="dugme"><a asp-page="/BookingForm" asp-route-id="@a.Id" asp-route-kruzer="@Model.kruzer.Id">Rezervisi</a></button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/map.js"></script>